src/eParking/SkyParkingWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://eParking" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://eParking" xmlns:intf="http://eParking" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://eParking" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="from" type="xsd:string"/>
   <element name="sayHelloWorldFromReturn" type="xsd:string"/>
   <element name="xml" type="xsd:string"/>
   <element name="getWebMsgReturn" type="xsd:string"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="sayHelloWorldFromResponse">

      <wsdl:part element="impl:sayHelloWorldFromReturn" name="sayHelloWorldFromReturn"/>

   </wsdl:message>

   <wsdl:message name="getWebMsgRequest">

      <wsdl:part element="impl:xml" name="xml"/>

   </wsdl:message>

   <wsdl:message name="sayHelloWorldFromRequest">

      <wsdl:part element="impl:from" name="from"/>

   </wsdl:message>

   <wsdl:message name="getWebMsgResponse">

      <wsdl:part element="impl:getWebMsgReturn" name="getWebMsgReturn"/>

   </wsdl:message>

   <wsdl:portType name="SkyParkingWS">

      <wsdl:operation name="sayHelloWorldFrom" parameterOrder="from">

         <wsdl:input message="impl:sayHelloWorldFromRequest" name="sayHelloWorldFromRequest"/>

         <wsdl:output message="impl:sayHelloWorldFromResponse" name="sayHelloWorldFromResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getWebMsg" parameterOrder="xml">

         <wsdl:input message="impl:getWebMsgRequest" name="getWebMsgRequest"/>

         <wsdl:output message="impl:getWebMsgResponse" name="getWebMsgResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SkyParkingWSSoapBinding" type="impl:SkyParkingWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="sayHelloWorldFrom">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sayHelloWorldFromRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sayHelloWorldFromResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getWebMsg">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getWebMsgRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getWebMsgResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SkyParkingWSService">

      <wsdl:port binding="impl:SkyParkingWSSoapBinding" name="SkyParkingWS">

         <wsdlsoap:address location="http://localhost:8080/services/eParking/SkyParkingWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
